/* Start Global Rules */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
:root {
  --main-color: #2196F3;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --section-background: #ececec;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Cairo', sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  padding: 0px 15px;
  margin: 0px auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.spikes {
  position: relative;
  background: white;
  height: 30px;
  top: -85px;
}
.spikes::after {
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  top: 100%;
  z-index: 10;
  display: block;
  height: 45px;
  background-size: 45px 100%;
  background-image: linear-gradient(135deg, white 25%, transparent 25%),
  linear-gradient(225deg, white 25%, transparent 25%);
  background-position: 0 0;
}
/* End Global Rules */

/* Start Components */
.special-head {
  width: fit-content;
  padding: 10px 20px;
  font-size: 30px;
  border: 2px solid black;
  font-weight: bold;
  margin: 0 auto 75px;
  position: relative;
  z-index: 1;
}
.special-head:hover {
  color: white;
  border: 2px solid white;
  transition: 0.3s;
  transition-delay: 0.5s;
}
.special-head::before,
.special-head::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  border-radius: 50%;
}
.special-head::before {
  left: -30px;
}
.special-head::after {
  right: -30px;
}
.special-head:hover::before {
  z-index: -1;
  animation: left-move 0.5s linear forwards;
}
.special-head:hover::after {
  z-index: -1;
  animation: right-move 0.5s linear forwards;
}
/* End Components */

/* Start Header */
.header {
  position: relative;
  box-shadow: 0 0 10px #ddd;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}
.header .container a.logo {
  height: 74px; /*important note*/
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-color);
  font-size: 26px;
  font-weight: bold;
}
@media (max-width: 767px) {
  .header .container a.logo {
    width: 100%; /*to let the link make the full width and be in center*/
    height: 50px;
  }
}
.header .container .main-ul {
  display: flex;
}
@media (max-width: 767px) {
  .header .container .main-ul {
    margin: auto; /*to make the links in center*/
  }
}
.header .container .main-ul>li>a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 30px;
  color: black;
  font-size: 18px;
  transition: var(--main-transition);
  position: relative;
  height: 74px;
  overflow: hidden;
}
@media (max-width: 767px) {
  .header .container .main-ul>li>a {
    padding: 10px;
    font-size: 14px;
    height: 40px;
  }
}
.header .container .main-ul>li>a:before {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  left: -100%;
  height: 4px;
  background-color: var(--main-color);
  transition: 0.3s;
}
.header .container .main-ul>li>a:hover {
  color: var(--main-color);
  background-color: #fafafa;
}
.header .container .main-ul>li>a:hover::before {
  left: 0;
}
.header .container .main-ul li:last-child:hover>.megamenu {
  opacity: 1;
  z-index: 100;
  top: calc(100% + 2px);
}
.header .megamenu {
  display: flex;
  position: absolute;
  width: 100%;
  top: calc(100% + 50px);
  left: 0;
  padding: 30px;
  background-color: white;
  border-bottom: 3px solid var(--main-color);
  justify-content: space-between;
  transition: top var(--main-transition), opacity var(--main-transition);
  z-index: -1;
  opacity: 0;
}
@media (max-width: 767px) {
  .header .megamenu {
    flex-direction: column;
    top: 100%;
    padding: 30px 0 0 0;
  }
  .header .megamenu ul li {
    padding: 10px;
  }
  .header .megamenu ul:first-of-type li:last-child {
    border-bottom: 1px solid #e9e6e6;
  }
}
@media (min-width: 991px) and (max-width: 1199px) {
  .header .megamenu ul li {
    min-width: 270px;
  }
  .header .megamenu img {
    width: 400px;
  }
}
.header .megamenu img {
  max-width: 100%;
}
@media (max-width: 991px) {
  .header .megamenu img {
    display: none;
  }
}
.header .megamenu ul li {
  padding: 15px 25px;
  position: relative;
}
.header .megamenu ul li a {
  color: var(--main-color);
  font-weight: bold;
  font-size: 22px;
}
.header .megamenu ul li i {
  color: var(--main-color);
  margin-right: 10px;
  font-size: 18px;
}
.header .megamenu ul li::before {
  content: '';
  width: 0;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #fafafa;
  position: absolute;
  z-index: -1;
  transition: var(--main-transition);
}
.header .megamenu ul li:hover::before {
  width: 100%;
}
.header .megamenu ul li:not(:last-child) {
  border-bottom: 1px solid #e9e6e6;
}
/* End Header */

/* Start landing */
.landing {
  position: relative;
  overflow: hidden;
}
.landing::before {
  content: '';
  position: absolute;
  left: 0;
  top: -40px;
  width: 100%;
  height: 100%;
  background-color: #ececec;
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: top left;
}
.landing .container {
  min-height: calc(100vh - 74px);
  display: flex;
  align-items: center;
  padding-bottom: 120px;
}
.landing img {
  width: 600px;
  max-width: 100%;
  animation-name: landingmove;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes landingmove {
  0% {
    margin-top: -50px;
  }

  50% {
    margin-top: 0;
  }

  100% {
    margin-top: -50px;
  }
}
@media (max-width: 991px) {
  .landing img {
    display: none;
  }
}
.landing .go-down {
  color: var(--main-color);
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  transition: var(--main-transition);
  animation-name: bouncing;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}
.landing .go-down:hover {
  color: var(--main-color-alt);
}
@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40%,
  60% {
    transform: translateY(-15px);
  }
}
.landing .container .text {
  flex: 1;
}
@media (max-width: 991px) {
  .landing .container .text {
    text-align: center;
  }
}
.landing .container .text h1 {
  margin: 0;
  font-size: 40px;
  letter-spacing: -2px;
}
@media (max-width: 767px) {
  .landing .container .text h1 {
    font-size: 28px
  }
  .landing .container .text p {
    font-size: 18px !important;
  }
}
.landing .container .text p {
  margin: 0;
  font-size: 24px;
  line-height: 1.7;
  color: #777;
  margin: 5 0 0;
  max-width: 500px;
}
@media (max-width: 991px) {
  .landing .container .text p {
    margin: 10px auto;
  }
}
/* End landing */

/* Start Articles */
.articles {
  padding: 100px 0;
}
.articles .articles-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 40px;
}
.articles .articles-content>div {
  box-shadow: 0 2px 15px rgba(0, 0, 0, 10%);
  background-color: white;
  overflow: hidden;
  border-radius: 5px;
  position: relative;
  transition: 0.4s;
  max-height: 100%;
}
.articles .articles-content>div:hover {
  margin-top: -10px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 20%);
}
.articles .articles-content>div:hover .info i {
  animation-play-state: running;
}
.articles .articles-content img {
  max-width: 100%;
  border-radius: 5px;
}
.articles .articles-content>div .text {
  padding: 20px 0;
}
.articles .articles-content>div .text h4 {
  margin: 0 0 0 20px;
  font-size: 18px;
}
.articles .articles-content>div .text p {
  margin: 15px 0 0 20px;
  line-height: 1.7;
  color: #777;
}
.articles .articles-content>div .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ddd;
  padding: 20px 0;
}
.articles .articles-content>div .info a {
  color: var(--main-color);
  font-weight: bold;
  margin-left: 20px;
}
.articles .articles-content>div .info i {
  color: var(--main-color);
  font-size: 14px;
  margin-right: 30px;
  animation-name: move-arrow;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-play-state: paused;
}
@keyframes move-arrow {
  0% {
    margin-right: 30px;
  }
  100% {
    margin-right: 15px;
  }
}
@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    border-radius: 0;
    left: 0;
    width: 60%;
    height: 100%;
  }
}
@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    border-radius: 0;
    right: 0;
    width: 60%;
    height: 100%;
  }
}
/* End Articles */

/* Start Gallery */
.gallery {
  padding: 80px 0;
  background-color: var(--section-background);
}
.gallery .container .gallery-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 40px;
}
.gallery .container .gallery-content div {
  border: 15px solid white;
  box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
  overflow: hidden;
  position: relative;
}
.gallery .container .gallery-content div img {
  max-width: 100%;
  height: 100%;
  transition: var(--main-transition);
}
.gallery .container .gallery-content div:hover img {
  transform: rotate(5deg) scale(1.1);
}
.gallery .container .gallery-content div::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 20%);
  z-index: 2;
}
.gallery .container .gallery-content div:hover::before {
  animation: flashing 0.7s;
}
@keyframes flashing {
  60% {
    opacity: 1;
    width: 100%;
    height: 100%;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
/* End Gallery */

/* Start Features */
.features {
  padding: 80px 0;
  background-color: white;
  position: relative;
}
.features .container .features-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 40px;
}
.features .container .features-content .box {
  border: 1px solid #cecece;
  text-align: center;
}
.features .container .features-content .box img {
  max-width: 100%;
}
.features .container .features-content .box .image {
  position: relative;
  overflow: hidden;
}
.features .container .features-content .box .image::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  border-style: solid;
  transition: var(--main-transition);
  border-width: 0 0 170px 500px;
  border-color: transparent transparent white transparent;
}
.features .container .features-content .box:hover .image::after {
  border-width: 170px 500px 170px 0px !important;
}
.features .container .features-content .box .image::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.features .container .features-content .box:first-child .image::before {
  background-color: rgb(244 64 54 / 60%);
}
.features .container .features-content .box:nth-child(2) .image::before {
  background-color: rgb(0 150 136 / 60%);
}
.features .container .features-content .box:last-child .image::before {
  background-color: rgb(3 169 244 / 60%);
}
.features .container .features-content .box .text h1 {
  font-size: 40px;
  margin: 50px auto 50px auto;
  position: relative;
  width: fit-content;
}
.features .container .features-content .box .text h1::before {
  content: '';
  position: absolute;
  width: calc(100% - 30px);
  height: 5px;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}
.features .container .features-content .box:first-child .text h1::before {
  background-color: #f74334;
}
.features .container .features-content .box:nth-child(2) .text h1::before {
  background-color: #009586;
}
.features .container .features-content .box:last-child .text h1::before {
  background-color: #02a9f7;
}
.features .container .features-content .box .text p {
  line-height: 1.7;
  font-size: 20px;
  color: #555555;
  padding: 0 20px;
  margin-bottom: 50px;
}
.features .container .features-content .box a {
  display: block;
  width: fit-content;
  margin: 0 auto;
  border-radius: 5px;
  padding: 10px 30px;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 25px;
  position: relative;
  z-index: 100;
}
.features .container .features-content .box a::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  width: 0;
  transition: var(--main-transition);
  z-index: -1;
}
.features .container .features-content .box:hover a {
  color: white !important;
}
.features .container .features-content .box:hover a::before {
  width: 100%;
}
.features .container .features-content .box:first-child a:before {
  background-color: #f74334;
}
.features .container .features-content .box:first-child a {
  color: #f74334;
  border: 3px solid #f74334;
}
.features .container .features-content .box:nth-child(2) a::before {
  background-color: #009586;
}
.features .container .features-content .box:nth-child(2) a {
  color: #009586;
  border: 3px solid #009586;
}
.features .container .features-content .box:last-child a::before {
  background-color: #02a9f7;
}
.features .container .features-content .box:last-child a {
  color: #02a9f7;
  border: 3px solid #02a9f7;
}
/* End Features */

/* Start Testimonials */
.testimonials {
  padding: 60px 0;
  background-color: var(--section-background);
}
.testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 40px;
}
.testimonials .container .box {
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: white;
  border-radius: 7px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 7%);
}
.testimonials .container .box img {
  position: absolute;
  right: -5px;
  top: 0;
  transform: translateY(-50%);
  border: 10px solid var(--section-background);
  border-radius: 50%;
  width: 100px;
}
.testimonials .container .box .content h2 {
  font-weight: bold;
  margin: 0px 0 10px 0;
  font-size: 20px;
}
.testimonials .container .box .content h3 {
  font-weight: normal;
  color: #797979;
  margin: 0;
  font-size: 16px;
}
.testimonials .container .box .content .stars {
  display: flex;
  justify-content: flex-start;
  margin: 10px 0;
}
.testimonials .container .box .content .stars i {
  margin-right: 5px;
  color: #ffc107;
}
.testimonials .container .box .content p {
  line-height: 1.5;
  color: #777;
  margin: 0;
}
/* End Testimonials */

/* Start Team Members */
.team {
  padding: 60px 0;
  background-color: white;
  position: relative;
}
.team .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
}
.team .container .box {
  position: relative;
  z-index: 3;
}
.team .container .box::before,
.team .container .box::after {
  content: "";
  background-color: #f3f3f3;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  border-radius: 10px;
  transition: var(--main-transition);
}
.team .container .box::before {
  width: calc(100% - 60px);
  z-index: 1;
}
.team .container .box::after {
  z-index: 2;
  background-color: #e4e4e4;
  width: 0;
}
.team .container .box:hover::after {
  width: calc(100% - 60px);
}
.team .container .box .data {
  display: flex;
  align-items: center;
  padding-top: 60px;
}
.team .container .box .data img {
  transition: var(--main-transition);
  max-width: calc(100% - 60px);
  border-radius: 10px;
  z-index: 4;
}
.team .container .box:hover img {
  filter: grayscale(100%);
}
.team .container .box .data .social {
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  z-index: 4;
}
.team .container .box .data .social a {
  width: 60px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.team .container .box .data .social a:hover i {
  color: var(--main-color);
}
.team .container .box .data .social i {
  color: #777;
  transition: var(--main-transition);
}
.team .container .box .info {
  padding-left: 80px;
  position: relative;
  z-index: 4;
}
.team .container .box .info h3 {
  margin-bottom: 0;
  color: var(--main-color);
  font-size: 22px;
  transition: var(--main-transition);
}
.team .container .box .info p {
  margin: 10px 0 25px 0;
}
.team .box:hover .info h3 {
  color: #777;
}
/* End Team Members */

/* Start Services */
.services {
  padding: 60px 0;
  background-color: var(--section-background);
}
.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 40px;
}
.services .box {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  transition: var(--main-transition);
  position: relative;
}
.services .box:hover {
  transform: translateY(-10px);
}
.services .box::before {
  content: '';
  width: 0;
  height: 3px;
  position: absolute;
  background-color: var(--main-color);
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: var(--main-transition);
}
.services .box:hover::before {
  width: 100%;
}
.services .box .data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
.services .box .data i {
  font-size: 60px;
  color: #d9d9d9;
}
.services .box .data h2 {
  color: var(--main-color);
  margin: 20px 0 30px;
  font-weight: bold;
  font-size: 25px;
}
.services .box .info {
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  position: relative;
  background-color: #f9f9f9;
  overflow: hidden;
}
.services .box .info a {
  order: 2;
  color: var(--main-color);
}
.services .box .info span {
  background-color: var(--main-color);
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  padding: 0 50px 0 30px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
}
.services .box .info span::before {
  content: '';
  width: 50%;
  height: 100%;
  background-color: #d5d5d5;
  position: absolute;
  right: -37px;
  bottom: 0;
  transform: skewX(-30deg);
}
/* End Services */

/* Start Skills */
.our-skills {
  padding: 60px 0;
  background-color: white;
}
.our-skills .container {
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  .our-skills img {
    display: none;
  }
}
.our-skills .skills {
  flex: 1;
}
.our-skills .skill h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.our-skills .skill h3 span {
  font-size: 12px;
  border: 1px solid #ccc;
  padding: 3px 5px;
  border-radius: 4px;
  color: var(--main-color);
}
.our-skills .skill .the-progress {
  height: 30px;
  background-color: #eee;
  position: relative;
}
.our-skills .skill .the-progress span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: var(--main-color);
}
/* End Skills */

/* Start Work */
.work {
  padding: 60px 0;
  background-color: var(--section-background);
}
.work .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .work .container {
    flex-direction: column;
  }
}
.work .container>img {
  margin-right: 100px;
}
@media (max-width: 991px) {
  .work .container>img {
    margin: 0 0 50px;
    max-width: 100%;
  }
}
.work .box {
  padding: 30px;
  background-color: #f7f5f6;
  display: flex;
  border: 2px solid white;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 7px;
  position: relative;
  z-index: 4;
}
@media (max-width: 991px) {
  .work .box {
    flex-direction: column;
    text-align: center;
  }
}
.work .box::before {
  content: '';
  width: 0;
  height: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background-color: #ededed;
  z-index: -1;
  transition: var(--main-transition);
}
.work .box:hover::before {
  width: 100%;
  height: 100%;
}
.work .box img {
  margin-right: 25px;
  width: 75px;
  height: 75px;
}
@media (max-width: 991px) {
  .work .box img {
    margin: 0 auto 25px;
  }
}
.work .box .text h2 {
  margin: 0;
  font-size: 22px;
}
.work .box .text p {
  margin: 10px 0 0 0;
  color: #777;
  font-size: 18px;
  line-height: 1.7;
}
/* End Work */

/* Start Events */
.event {
  padding: 60px 0;
  background-color: white;
  position: relative;
}
.event .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.event img {
  margin-right: 50px;
  width: 450px;
}
@media (max-width: 991px) {
  .event img {
    display: none;
  }
}
.event .content * {
  margin: 0;
  text-align: center;
}
.event .content .numbers {
  display: flex;
  justify-content: center;
}
.event .content .numbers .box {
  width: 75px;
  padding: 20px 5px 50px;
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: var(--main-transition);
}
.event .content .numbers .box::before {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  padding: 10px 0px 10px;
  font-size: 13px;
  border-top: 1px solid #d4d4d4;
  transition: var(--main-transition);
}
.event .content .numbers .box:first-child:before {
  content: 'Days';
}
.event .content .numbers .box:nth-child(2):before {
  content: 'Hours';
}
.event .content .numbers .box:nth-child(3):before {
  content: 'Minutes';
}
.event .content .numbers .box:last-child:before {
  content: 'Seconds';
}
.event .content .numbers .box:hover {
  border: 1px solid var(--main-color);
}
.event .content .numbers .box:hover::before {
  border-top: 1px solid var(--main-color);
}
.event .content .numbers .box h3 {
  color: var(--main-color);
  font-size: 28px;
  font-weight: bold;
}
.event .content h2 {
  font-size: 30px;
  margin: 30px 0 20px;
}
.event .content p {
  line-height: 1.7;
  color: #777;
  font-size: 18px;
}
.event .form {
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin: 75px auto;
  position: relative;
  z-index: 4;
}
.event .form::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f6f5f5;
  z-index: -1;
  width: calc(100% + 70px);
  height: calc(100% + 50px);
  border-radius: 50px;
}
.event .form input {
  width: 75%;
  border: none;
  background-color: white;
  border-radius: 30px;
  padding-left: 25px;
  caret-color: var(--main-color);
}
.event .form input:focus {
  outline: none;
}
.event .form input::placeholder {
  transition: var(--main-transition);
}
.event .form input:focus::placeholder {
  opacity: 0;
}
.event .form button {
  width: fit-content;
  padding: 20px;
  background-color: var(--main-color);
  transition: var(--main-transition);
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
}
@media (max-width: 767px) {
  .event .form {
    flex-direction: column;
    width: calc(100% - 100px) !important;
  }
  .event .form * {
    width: 100% !important;
    border-radius: 0px !important;
    padding: 25px 0 !important;
    max-width: 100%;
  }
  .event .form input {
    margin-bottom: 25px;
    padding-left: 25px !important;
  }
  .event .form::before {
    border-radius: 0;
  }
}
.event .form button:hover {
  background-color: var(--main-color-alt);
}
/* End Events */

/* Start Pricing */
.pricing {
  padding: 60px 0;
  background-color: var(--section-background);
  position: relative;
}
.pricing .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 40px;
}
.pricing .container .box {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  position: relative;
  z-index: 4;
}
.pricing .container .box::before,
.pricing .container .box::after {
  content: '';
  height: 50%;
  width: 0;
  position: absolute;
  background-color: #f6f6f6;
  z-index: -1;
  transition: var(--main-transition);
}
.pricing .container .box::before {
  left: 0;
  top: 0;
}
.pricing .container .box::after {
  right: 0;
  bottom: 0;
}
.pricing .container .box:hover::before,
.pricing .container .box:hover::after {
  width: 100%;
}
@media (min-width: 1200px) {
  .pricing .container .box.popular {
    top: -25px;
  }
}
.pricing .container .box .head {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pricing .container .box .head * {
  margin: 0;
}
.pricing .container .box .head h3 {
  padding: 30px 0 30px;
  font-size: 24px;
  font-weight: bold;
}
.pricing .container .box .head img {
  width: 75px;
  margin-bottom: 30px;
}
.pricing .container .box .head h1 {
  font-size: 60px;
  color: var(--main-color);
  font-weight: bold;
}
.pricing .container .box .head span {
  margin: 5px 0 20px;
  color: #777;
}
.pricing .container .box .body ul li {
  padding: 20px 0 20px 40px;
  position: relative;
  border-top: 1px solid #eee;
}
.pricing .container .box .body ul li::before {
  content: '';
  width: 5px;
  height: 10px;
  position: absolute;
  left: 15px;
  top: 45%;
  border-style: solid solid solid solid;
  border-color: transparent var(--main-color) var(--main-color) transparent;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg) translateY(-50%);
}
.pricing .container .box button {
  display: block;
  margin: 30px auto;
  width: fit-content;
  padding: 15px;
  border: 2px solid var(--main-color);
  color: var(--main-color);
  font-weight: bold;
  border-radius: 5px;
  transition: var(--main-transition);
  background-color: white;
}
.pricing .container .box button:hover {
  background-color: var(--main-color);
  color: white;
}
.pricing .container .box:nth-child(2) .special {
  position: absolute;
  display: block;
  padding: 10px;
  width: fit-content;
  color: white;
  background-color: var(--main-color);
  transform: rotate(90deg);
  top: 42px;
  right: -25px;
  font-weight: bold;
  font-size: 18px;
}
.pricing .container .box:nth-child(2) .special::before {
  content: '';
  height: 0;
  width: 0px;
  border-style: solid;
  border-color: var(--main-color) transparent transparent var(--main-color);
  border-width: 15px 15px 15px 15px;
  position: absolute;
  background-color: transparent;
  right: -25px;
  top: 0;
}
.pricing .container .box:nth-child(2) .special::after {
  content: '';
  height: 0;
  width: 0px;
  border-style: solid;
  border-color: transparent transparent var(--main-color) var(--main-color);
  border-width: 15px 15px 15px 15px;
  position: absolute;
  background-color: transparent;
  right: -25px;
  bottom: 0px
}
/* End Pricing */

/* Start Videos */
.video {
  padding: 60px 0;
  background-color: white;
}
.video .container {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
}
@media (max-width: 991px) {
  .video .container {
    grid-template-columns: 1fr;
  }
  .video .image {
    padding-bottom: 80px !important;
  }
  .video .image::before {
    bottom: 20px;
  }
}
.video .container .top {
  background-color: #f4f4f4;
  border: 1px solid #e2e2e2;
}
.video .container .top .intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 25px;
}
.video .container .top .intro h3 {
  font-size: 17px;
}
.video .top ul li {
  border-bottom: 1px solid #e2e2e2;
  padding: 20px;
  background-color: white;
  cursor: pointer;
  transition: var(--main-transition);
}
.video .top ul li:hover {
  background-color: #fafafa;
}
.video .top ul li:hover a {
  color: var(--main-color);
}
.video .top ul li a {
  display: block;
  color: black;
  margin-bottom: 10px;
  transition: var(--main-transition);
}
.video .top ul li span {
  color: #777;
}
.video .image {
  background-color: #e2e2e2;
  position: relative;
  padding: 10px;
}
.video .image::before {
  content: 'Everything About The Virtual Hosts';
  position: absolute;
  width: calc(100% - 40px);
  bottom: 10px;
  left: 10px;
  background-color: white;
  padding: 20px 0px 20px 20px;
}
.video .image img {
  max-width: 100%;
}
/* End Videos */

/* Start Stats */
.stats {
  padding: 60px 0;
  position: relative;
  z-index: 1;
  background-image: url(../images/stats.jpg);
}
.stats::before {
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  left: 0;
  background-color: rgba(255, 255, 255, 95%);
  z-index: -1;
}
.stats h2 {
  display: flex;
  justify-content: center;
  font-size: 40px;
}
.stats .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 30px;
}
.stats .box {
  background-color: white;
  position: relative;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stats .box::before,
.stats .box::after {
  content: '';
  position: absolute;
  width: 2px;
  background-color: var(--main-color);
  height: 0;
  transition: 1s;
}
.stats .box::before {
  bottom: 0;
  left: 0;
}
.stats .box::after {
  top: 0;
  right: 0;
}
.stats .box:hover::before,
.stats .box:hover::after {
  height: 100%;
}
.stats .box i {
  font-size: 28px;
}
.stats .box .number {
  margin: 15px 0;
  font-size: 50px;
  font-weight: bold;
}
.stats .box .text {
  font-style: italic;
  color: var(--main-color);
  font-weight: bold;
  font-size: 20px;
}
/* End Stats */

/* Start Discount */
.discount {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 991px) {
  .discount * {
    flex-basis: 100% !important;
  }
}
.discount .image {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../images/discount-background1.jpg);
  background-size: cover;
  color: white;
  position: relative;
  z-index: 1;
  animation: change-bg 10s linear;
}
.discount .image::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(23 135 224 / 97%);
  z-index: -1;
}
@keyframes change-bg {
  0%, 100% {
    background-image: url(../images/discount-background1.jpg);
  }
  50% {
    background-image: url(../images/discount-background2.jpg);
  }
}
.discount .image h2 {
  font-size: 40px;
  letter-spacing: -2px;
  margin: 50px 0 0;
}
.discount .image p {
  max-width: 500px;
  text-align: center;
  line-height: 1.7;
  font-size: 20px;
  margin: 25px 0;
  padding: 0 15px;
}
.discount .image img {
  width: 300px;
  max-width: 100%;
}
.discount .request {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.discount .request h2 {
  font-size: 40px;
  letter-spacing: -2px;
  margin: 50px 0 25px;
}
.discount .request .input {
  width: 300px;
  padding: 15px;
  caret-color: var(--main-color);
  border: none;
  margin-bottom: 30px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #cbcbcb;
}
.discount .request .input:focus {
  outline: none;
}
.discount .request textarea {
  resize: none;
  height: 200px;
}
.discount .request input:last-of-type {
  width: 300px;
  background-color: var(--main-color);
  transition: var(--main-transition);
  padding: 15px 0;
  font-size: 20px;
  border: none;
  color: white;
  cursor: pointer;
  margin-bottom: 50px;
  font-weight: bold;
}
.discount .request input:last-of-type:hover {
  background-color: var(--main-color-alt);
}
/* End Discount */

/* Start Footer */
.footer {
  padding: 60px 0 25px 0;
  background-color: #191919;
  color: white;
}
.footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 30px;
}
.footer .title h1 {
  margin: 0 0 30px 0;
  font-size: 50px;
}
.footer .title .icons {
  display: flex;
  margin-bottom: 25px;
}
.footer .title .icons a {
  width: 25px;
  padding: 16px 25px;
  background-color: #313131;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--main-transition);
}
.footer .title .icons a:first-of-type:hover {
  background-color: #1877f2;
}
.footer .title .icons a:nth-of-type(2):hover {
  background-color: #1da1f2;
}
.footer .title .icons a:nth-of-type(3):hover {
  background-color: #ff0000;
}
.footer .title .icons a i {
  color: #b3b9b7;
  font-size: 20px;
}
.footer .title p {
  color: #aeb3ad;
  line-height: 1.7;
  font-size: 17px;
  max-width: 250px;
}
.footer .links ul li {
  padding: 15px 0;
  transition: var(--main-transition);
}
.footer .links ul li:not(:last-child) {
  border-bottom: 1px solid #464646;
}
.footer .links ul li a {
  color: #aeb3ad;
  transition: var(--main-transition);
  font-size: 15px;
}
.footer .links ul li a::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f101';
  color: var(--main-color-alt);
  margin-right: 10px;
}
.footer .links ul li:hover a {
  margin-left: 10px;
  color: white;
}
.footer .info {
  display: flex;
  flex-direction: column;
}
.footer .info div {
  display: flex; 
  align-items: center;
  margin-bottom: 25px;
}
.footer .info div i {
  margin-right: 15px;
  color: var(--main-color-alt);
  font-size: 24px;
}
.footer .info div p {
  color: #aeb3ad;
  line-height: 1.7;
  margin: 0;
}
.footer .gal img {
  width: 78px;
  margin: 2px;
  border: 3px solid white;
  text-align: center;
}
@media (max-width: 767px) {
  .footer {
    text-align: center;
  }
  .footer .title .icons {
    justify-content: center;
  }
  .footer .title p {
    margin: 25px auto 0;
  }
  .footer .info div {
    flex-direction: column;
  }
  .footer .info div i {
    margin-bottom: 15px;
  }
}
/* End Footer */

/* Start The End */
.end {
  width: 100%;
  padding: 25px 0;
  margin: auto;
  border: 1px solid #464646;
  background-color: #191919;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 16px;
}
/* End The End */